:host ::ng-deep .fixed-data {
    & th, & td {
        position: sticky;
        position: -webkit-sticky;
    }
}

table {
    display: block;
    &.scroll {
        overflow: scroll;
    }
}

::ng-deep table.virtual {
    word-break: break-all;
    tbody, thead {
        width: max-content;
        display: block;
        position: relative;
    }

    tbody, thead {
        &:not(.content) {
            z-index: 5;
        }
        &.content {
            z-index: 1;
            position: relative;
        }
    }
}

.fixed-width td, .fixed-width th {
    overflow: hidden;
    text-overflow: ellipsis;
}
