:host {
    display: block;

    &.virtual {
        display: grid;
        grid-template:
            ". header" auto
            "ids content" auto
            / auto auto;
    }
}

::ng-deep .header {
    overflow-x: hidden;
    grid-area: header;

    table {
        tbody, thead {
            display: block;
            width: max-content;
        }
    }
}

.ids {
    grid-area: ids;
}

.data {
    grid-area: content;
}

table {
    display: block;

    &.scroll {
        overflow: scroll;
    }
}

table.virtual {
    word-break: break-all;

    tbody, thead {
        width: max-content;
        display: block;
    }
}

.fixed-width td, .fixed-width th {
    overflow: hidden;
    text-overflow: ellipsis;
}
