:host {
    display: block;
}

::ng-deep .header {
    overflow-x: hidden;

    table {
        tbody, thead {
            display: block;
            width: max-content;
        }
    }
}

table {
    display: block;

    &.scroll {
        overflow: scroll;
    }
}

table.virtual {
    word-break: break-all;

    tbody, thead {
        width: max-content;
        display: block;
    }
}

.fixed-width td, .fixed-width th {
    overflow: hidden;
    text-overflow: ellipsis;
}
